# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Xcode 8 and later
DerivedData/

## Playgrounds
Timeline.xctimeline
playground.xcworkspace

## Swift Package Manager
.build/

## Continuos Integration
build/
DerivedData/

## Misc
*.moved-aside
*.xcuserstate

## macOS
.DS_Store
